In [8]:
import pandas as pd
import os
# 存储一切对应代码的配置信息，主要的配置信息在这个文件中进行修改

# 获取原始数据的方法
data_path = 'G:\\idea_workspace\\bigdata\\bigdata_demo_py\\demoDay21_recsys_music\\data\music_data'
music_mid_data_path = "data/music_mid_data"

def music_data(nrows=None):
    music_meta = os.path.join(data_path,'music_meta')
    df_music_meta = pd.read_csv(music_meta,
                                sep='\001',
                                nrows=nrows,
                                names=['item_id','item_name','desc','total_timelen','location','tags'],
                                # Pandas只有在整个文件读取完了才能确定字段的dtype（字段的数据类型dType）这会很耗时间
                                # 事先指定dtype，则会按照指定的dtype读取数据，从而解决警告：
                                # DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
                                dtype={'item_id':int,'item_name':str,'desc':str,'total_timelen':str,'tags':str})
    df_music_meta = df_music_meta.fillna('-')
    del df_music_meta['desc']
    return df_music_meta

In [9]:
print(1)

1

In [13]:
music_data0=music_data()

In [14]:
music_data=music_data0

In [17]:
len(music_data)

757833

In [16]:
del music_data0

In [19]:
def user_watch(nrows=None):
    user_watch_pref = os.path.join(data_path, 'user_watch_pref.sml')
    return pd.read_csv(user_watch_pref,
                       sep='\001',
                       nrows=nrows,
                       names=['user_id', 'item_id', 'stay_seconds', 'hour'])

user_watch=user_watch(100)

In [20]:
def user_profile(nrows=None):
    user_profile = os.path.join(data_path, 'user_profile.data')
    return pd.read_csv(user_profile,
                       sep=',',
                       nrows=nrows,
                       names=['user_id', 'gender', 'age', 'salary', 'province'])

In [21]:
data=user_watch.merge(music_data,how='inner',on='item_id')

In [22]:
len(data)

17

In [23]:
data.head()

,user_id,item_id,stay_seconds,hour,item_name,total_timelen,location,tags
0,00213d17d2eba917e859d882aa89ee8e,1352509103,15,20,封神英雄榜＼片头曲 神仙道张馨予,150,-,"倪萍回归央视,新卷珠帘,《刘欢版》,邓紫棋林宥嘉,快乐大本营,封神英雄榜"
1,01d4ad980a492f39f2272dbc36ec9698,63509105,75,17,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学"
2,00e16789fa95549730b666911908f540,63509105,195,11,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学"
3,01359a19943d444cc75164d5133c3a65,1529509105,277,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP"
4,01359a19943d444cc75164d5133c3a65,1529509105,276,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP"

In [24]:
data['score']=data.apply(lambda x:float(x['stay_seconds']/float(x['total_timelen'])),axis=1)

In [25]:
data.head()

,user_id,item_id,stay_seconds,hour,item_name,total_timelen,location,tags,score
0,00213d17d2eba917e859d882aa89ee8e,1352509103,15,20,封神英雄榜＼片头曲 神仙道张馨予,150,-,"倪萍回归央视,新卷珠帘,《刘欢版》,邓紫棋林宥嘉,快乐大本营,封神英雄榜",0.100000
1,01d4ad980a492f39f2272dbc36ec9698,63509105,75,17,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.100806
2,00e16789fa95549730b666911908f540,63509105,195,11,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.262097
3,01359a19943d444cc75164d5133c3a65,1529509105,277,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.253394
4,01359a19943d444cc75164d5133c3a65,1529509105,276,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.248869

In [26]:
 data=data[['user_id','item_id','score']]

In [27]:
data.groupby(['user_id','item_id'])['score'].sum().reset_index()

                             user_id     item_id     score
0   00213d17d2eba917e859d882aa89ee8e  1352509103  0.100000
1   0029b6161dbb1b8721f5f6ad1d7594b6  1148909108  1.959016
2   0076a2dda04e1ee05ab2fb792297bf2b  1148909108  0.614754
3   0088a6fc0d8c03ec5b2513a984ce9a1e  1148909108  1.024590
4   00a43691f12565b801241743556417ab   839709106  0.054152
5   00e16789fa95549730b666911908f540    63509105  0.262097
6   00ed7cd778e08c7551731988e73e419e   463509109  1.299578
7   01359a19943d444cc75164d5133c3a65  1529509105  2.502262
8   014ad23bd34b4131e822c9cfba02ecce  1973309108  0.065217
9   0161e575a9992d5393ee578b45f3b1a7   963209107  1.216216
10  017d61f43565734e85ca6c652e6dd06f   463509109  1.303797
11  01903b3114c70a109aea3934297ea6ef  1148909108  0.614754
12  01c1ef0570a4d56b900a23b255dfc658   463509109  0.822785
13  01d4ad980a492f39f2272dbc36ec9698    63509105  0.100806
14  01eb724c80739c41018dc5db9db28ead  1678509106  0.283019
15  01ed205aebdc4b32bd156075668d541a   963209107  1.213213