In [3]:
import pandas as pd
import os

In [4]:
data_path = 'G:\\idea_workspace\\bigdata\\bigdata_demo_py\\demoDay21_recsys_music\\data\music_data'
music_mid_data_path = "data/music_mid_data"

In [5]:
def music_data(nrows=None):
    music_meta = os.path.join(data_path,'music_meta')
    df_music_meta = pd.read_csv(music_meta,
                                sep='\001',
                                nrows=nrows,
                                names=['item_id','item_name','desc','total_timelen','location','tags'])
    df_music_meta = df_music_meta.fillna('-')
    del df_music_meta['desc']
    return df_music_meta

In [6]:
def user_profile(nrows=None):
    user_profile = os.path.join(data_path, 'user_profile.data')
    return pd.read_csv(user_profile,
                       sep=',',
                       nrows=nrows,
                       names=['user_id', 'gender', 'age', 'salary', 'province'])

                            user_id gender     age        salary province
0  00ea9a2fe9c6810aab440c4d8c050000      女   26-35  20000-100000       江苏
1  01a0ae50fd4b9ef6ed04c22a7e421000      女   36-45        0-2000       河北
2  002db7d2360562dd16828c4b91402000      女  46-100    5000-10000       云南
3  006a184749e3b3eb83e9eb516d522000      男   36-45     2000-5000       天津
4  00de61c1d635ad964eef2aefa8292000      女   19-25     2000-5000      内蒙古

In [7]:
def user_watch(nrows=None):
    user_watch_pref = os.path.join(data_path, 'user_watch_pref.sml')
    return pd.read_csv(user_watch_pref,
                       sep='\001',
                       nrows=nrows,
                       names=['user_id', 'item_id', 'stay_seconds', 'hour'])

                            user_id     item_id  stay_seconds  hour
0  01e069ed67600f1914e64c0fe7730944  4090309101            15    19
1  01d86fc1401b283d5828c293be290e08  6192809101            75    12
2  002f4b9c49be9a0b2c13e1c3c4f6a21c  8915109101           385    18
3  01e3fdf415107cd6046a07481fbed499  6470209102          1635    21
4  01e3fdf415107cd6046a07481fbed499  6470209102           555    16

NameError: name 'music_df' is not defined

In [8]:
df_user_watch=user_watch(100)
len(df_user_watch)

100

In [9]:
df_user_watch.head()

                            user_id     item_id  stay_seconds  hour
0  01e069ed67600f1914e64c0fe7730944  4090309101            15    19
1  01d86fc1401b283d5828c293be290e08  6192809101            75    12
2  002f4b9c49be9a0b2c13e1c3c4f6a21c  8915109101           385    18
3  01e3fdf415107cd6046a07481fbed499  6470209102          1635    21
4  01e3fdf415107cd6046a07481fbed499  6470209102           555    16

d:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,item_id,item_name,total_timelen,location,tags
0,93709100,韩国少女时代最新回归新专主打《I GOT A BOY》,304,-,"少女时代,鹿晗,韩国,exo综艺,最新回归,exo快乐大本营,吴世勋,fx组合,音悦台"
1,102209100,韩国张力尹携手EXO成员CHEN《呼吸》中文版,274,-,"CHEN,少女时代,呼吸,鹿晗,张力尹,韩国,EXO成员,EXO,宋茜,音悦台"
2,29900100,徐颢菲《猫的借口》,284,国内,-
3,368709100,美女翻唱 别问我是谁,288,-,"流行歌曲,翻唱,网络歌曲,美女,舞曲,社会"
4,603409100,"龙梅子,老猫 老爸老爸你好吗",259,-,"你好吗,龙梅子,老猫,老爸老爸"

In [10]:
def music_data2(nrows=None):
    music_meta = os.path.join(data_path,'music_meta')
    df_music_meta = pd.read_csv(music_meta,
                                sep='\001',
                                nrows=nrows,
                                names=['item_id','item_name','desc','total_timelen','location','tags'],
                                dtype={'item_id':int,'item_name':str,'desc':str,'total_timelen':str,'tags':str})
    df_music_meta = df_music_meta.fillna('-')
    del df_music_meta['desc']
    return df_music_meta

In [11]:
df_music_meta=music_data2()

In [13]:
df_music_meta.head(
)
len(df_music_meta)

757833

757924

In [14]:
# data.head()
# data2=df_user_watch.merge(df_music_meta,on='item_id',how='left')
# len(data2)
data2=df_user_watch.merge(df_music_meta,on='item_id',how='inner')
len(data2)

17

In [15]:
data2.head(20)

,user_id,item_id,stay_seconds,hour,item_name,total_timelen,location,tags
0,00213d17d2eba917e859d882aa89ee8e,1352509103,15,20,封神英雄榜＼片头曲 神仙道张馨予,150,-,"倪萍回归央视,新卷珠帘,《刘欢版》,邓紫棋林宥嘉,快乐大本营,封神英雄榜"
1,01d4ad980a492f39f2272dbc36ec9698,63509105,75,17,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学"
2,00e16789fa95549730b666911908f540,63509105,195,11,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学"
3,01359a19943d444cc75164d5133c3a65,1529509105,277,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP"
4,01359a19943d444cc75164d5133c3a65,1529509105,276,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP"
5,00a43691f12565b801241743556417ab,839709106,15,22,茜拉《最长的电影》,277,-,"最长的电影,茜拉"
6,01eb724c80739c41018dc5db9db28ead,1678509106,75,22,刘瑞琦《房间》MV首发,265,-,"刘瑞琦,房间"
7,0161e575a9992d5393ee578b45f3b1a7,963209107,405,13,川子 今生缘 经典流行音乐MTV MV,333,-,"MV,经典音乐,音乐天堂,MTV,主题曲,流行音乐,高清视频,音乐中心,流行"
8,01ed205aebdc4b32bd156075668d541a,963209107,404,7,川子 今生缘 经典流行音乐MTV MV,333,-,"MV,经典音乐,音乐天堂,MTV,主题曲,流行音乐,高清视频,音乐中心,流行"
9,0029b6161dbb1b8721f5f6ad1d7594b6,1148909108,239,10,中国人民过马路战歌 珍爱生命远离红灯,122,-,"原创,音乐"
10,0088a6fc0d8c03ec5b2513a984ce9a1e,1148909108,125,14,中国人民过马路战歌 珍爱生命远离红灯,122,-,"原创,音乐"
11,0076a2dda04e1ee05ab2fb792297bf2b,1148909108,75,12,中国人民过马路战歌 珍爱生命远离红灯,122,-,"原创,音乐"
12,01903b3114c70a109aea3934297ea6ef,1148909108,75,12,中国人民过马路战歌 珍爱生命远离红灯,122,-,"原创,音乐"
13,014ad23bd34b4131e822c9cfba02ecce,1973309108,15,11,韩磊 《花房姑娘》我是歌手第二季第九期歌单,230,-,"韩磊,花房姑娘,第九期歌单,我是歌手第二季"
14,01c1ef0570a4d56b900a23b255dfc658,463509109,195,16,乌兰托娅-我和草原有个约定,237,-,"草原歌曲,降央卓玛,蒙古草原歌,乌兰托娅,明星"
15,00ed7cd778e08c7551731988e73e419e,463509109,308,8,乌兰托娅-我和草原有个约定,237,-,"草原歌曲,降央卓玛,蒙古草原歌,乌兰托娅,明星"
16,017d61f43565734e85ca6c652e6dd06f,463509109,309,23,乌兰托娅-我和草原有个约定,237,-,"草原歌曲,降央卓玛,蒙古草原歌,乌兰托娅,明星"

In [17]:
# 清除源数据缓存
del df_music_meta
del df_user_watch

NameError: name 'df_music_meta' is not defined

In [18]:
data2['score']=data2.apply(lambda x:float(x['stay_seconds'])/float(x['total_timelen']),axis=1)

In [19]:
data2.head()

,user_id,item_id,stay_seconds,hour,item_name,total_timelen,location,tags,score
0,00213d17d2eba917e859d882aa89ee8e,1352509103,15,20,封神英雄榜＼片头曲 神仙道张馨予,150,-,"倪萍回归央视,新卷珠帘,《刘欢版》,邓紫棋林宥嘉,快乐大本营,封神英雄榜",0.100000
1,01d4ad980a492f39f2272dbc36ec9698,63509105,75,17,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.100806
2,00e16789fa95549730b666911908f540,63509105,195,11,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.262097
3,01359a19943d444cc75164d5133c3a65,1529509105,277,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.253394
4,01359a19943d444cc75164d5133c3a65,1529509105,276,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.248869

In [45]:
# data2['score']=data2.apply(lambda x:float(x['stay_seconds'])/float(x['total_timelen']),axis=1)

In [46]:
# data2.head()

,user_id,item_id,stay_seconds,hour,item_name,total_timelen,location,tags,score
0,00213d17d2eba917e859d882aa89ee8e,1352509103,15,20,封神英雄榜＼片头曲 神仙道张馨予,150,-,"倪萍回归央视,新卷珠帘,《刘欢版》,邓紫棋林宥嘉,快乐大本营,封神英雄榜",0.100000
1,01d4ad980a492f39f2272dbc36ec9698,63509105,75,17,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.100806
2,00e16789fa95549730b666911908f540,63509105,195,11,吉他弹唱教学《我真的受伤了》,744,-,"我真的受伤了,弹唱,国内,吉他,教学",0.262097
3,01359a19943d444cc75164d5133c3a65,1529509105,277,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.253394
4,01359a19943d444cc75164d5133c3a65,1529509105,276,21,机械哥全新DUBSTEP舞蹈视频 BEAT IT 致敬MJ 超帅,221,-,"致敬MJ,机械哥,BEAT,超帅,IT,舞蹈,DUBSTEP",1.248869

In [20]:
data=data2[['user_id','item_id','score']]

In [21]:
data.head()

                            user_id     item_id     score
0  00213d17d2eba917e859d882aa89ee8e  1352509103  0.100000
1  01d4ad980a492f39f2272dbc36ec9698    63509105  0.100806
2  00e16789fa95549730b666911908f540    63509105  0.262097
3  01359a19943d444cc75164d5133c3a65  1529509105  1.253394
4  01359a19943d444cc75164d5133c3a65  1529509105  1.248869

In [22]:
data=data.groupby(['user_id','item_id'])['score'].sum().reset_index()
len(data)

16

In [23]:
data.head()

                            user_id     item_id     score
0  00213d17d2eba917e859d882aa89ee8e  1352509103  0.100000
1  0029b6161dbb1b8721f5f6ad1d7594b6  1148909108  1.959016
2  0076a2dda04e1ee05ab2fb792297bf2b  1148909108  0.614754
3  0088a6fc0d8c03ec5b2513a984ce9a1e  1148909108  1.024590
4  00a43691f12565b801241743556417ab   839709106  0.054152

In [24]:
def train_from_df(df,cols=['user_id','item_id','score']):
    res=dict()
    for _,row in df.iterrows():
        user_id=row[cols[0]]
        item_id=row[cols[1]]
        score=row[cols[2]]
        if res.get(user_id,-1)==-1:
            res[user_id]={item_id:score}
        else:
            res[user_id][item_id]=score
    return res

In [25]:
train=train_from_df(data)

In [26]:
# train.head()

AttributeError: 'dict' object has no attribute 'head'

In [27]:
print(train)

{'00213d17d2eba917e859d882aa89ee8e': {1352509103: 0.1}, '0029b6161dbb1b8721f5f6ad1d7594b6': {1148909108: 1.959016393442623}, '0076a2dda04e1ee05ab2fb792297bf2b': {1148909108: 0.6147540983606558}, '0088a6fc0d8c03ec5b2513a984ce9a1e': {1148909108: 1.0245901639344261}, '00a43691f12565b801241743556417ab': {839709106: 0.05415162454873646}, '00e16789fa95549730b666911908f540': {63509105: 0.2620967741935484}, '00ed7cd778e08c7551731988e73e419e': {463509109: 1.2995780590717299}, '01359a19943d444cc75164d5133c3a65': {1529509105: 2.502262443438914}, '014ad23bd34b4131e822c9cfba02ecce': {1973309108: 0.06521739130434782}, '0161e575a9992d5393ee578b45f3b1a7': {963209107: 1.2162162162162162}, '017d61f43565734e85ca6c652e6dd06f': {463509109: 1.3037974683544304}, '01903b3114c70a109aea3934297ea6ef': {1148909108: 0.6147540983606558}, '01c1ef0570a4d56b900a23b255dfc658': {463509109: 0.8227848101265823}, '01d4ad980a492f39f2272dbc36ec9698': {63509105: 0.10080645161290322}, '01eb724c80739c41018dc5db9db28ead': {1678509106: 0.2830188679245283}, '01ed205aebdc4b32bd156075668d541a': {963209107: 1.2132132132132132}}

In [28]:
for k,v in train.items():
    print(len(v))
#     if len(v)>1:
#         print(train[k])

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [29]:
print(len(train))

16

In [30]:
print(len(data2))

17

In [31]:
music_mid_data_path = "data/music_mid_data"

In [32]:
train_file = '%s/train_dict.txt' % music_mid_data_path

In [33]:
print(train_file)

data/music_mid_data/train_dict.txt

In [36]:
os.makedirs('data/music_mid_data')
with open(train_file,'w',encoding='utf-8') as f:
    f.write(str(train))

In [37]:
# 不同召回策略标识
UCF_PREFIX = 'UCF_'
ICF_PREFIX = 'ICF_'

In [38]:
cf_rec_lst_outfile = '%s/reclst.dict' % music_mid_data_path

In [39]:
reclst = dict()

In [40]:
def user_sim(train_data):
    # 建立item->users的倒排表
    item_users = dict()
    for u, items in train_data.items():  # items item,rating
        for i in items.keys():
            if item_users.get(i, -1) == -1:
                item_users[i] = set()
            item_users[i].add(u)

    # 计算共同的items数量
    C = dict()

    for i, users in item_users.items():
        for u in users:
            if C.get(u, -1) == -1:
                C[u] = dict()
            for v in users:
                if u == v:
                    continue
                if C[u].get(v, -1) == -1:
                        C[u][v] = 0
                C[u][v] += 1
    del item_users  # 从内存中删除
    for u,sim_users in C.items():
        for v,cuv in sim_users.items():
            C[u][v] = 2*C[u][v]/(float(len(train_data[u])+len(train_data[v])))
    return C

In [49]:
user_user_sim = user_sim(train)

In [50]:
print(user_user_sim['0076a2dda04e1ee05ab2fb792297bf2b'])

{'01903b3114c70a109aea3934297ea6ef': 1.0, '0029b6161dbb1b8721f5f6ad1d7594b6': 1.0, '0088a6fc0d8c03ec5b2513a984ce9a1e': 1.0}

In [46]:
user_user_sim_file = '%s/sim_data/uu.sim' % music_mid_data_path

In [47]:
with open(train_file,'r',encoding='utf-8') as f:
    train=eval(f.read())

In [48]:
# train.head()

AttributeError: 'dict' object has no attribute 'head'

In [57]:
os.mkdir('data/music_mid_data/sim_data')
with open(user_user_sim_file,'w',encoding='utf-8') as f :
    
    f.write(str(user_user_sim))

In [52]:
os.path.dirname(user_user_sim_file)

'data/music_mid_data/sim_data'

In [58]:
len(train)

21258

In [59]:
def recommend(user,train_data,C,k=5):
    rank = dict()
    # 用户之前评论过的电影
    watched_items = train_data[user].keys()
    # 取相似的k个用户的items
    for v,cuv in sorted(C[user].items(),key=lambda x:x[1],reverse=True)[:k]:
        # 取相似k个用户的items ②rating
        for i,rating in train_data[v].items():
            # 过滤掉已经评论过的电影（购买过的商品）
            if i in watched_items:
                continue
            elif rank.get(i,-1) == -1:
                rank[i] = 0
            # 物品的打分是①用户相似度[0-1]*②相似用户对电影的打分[0-5]=[0-1]
            # 相似用户评论了同一个物品是累加操作
            rank[i] += cuv * rating
    return rank

In [60]:
for user_id in train.keys():
    rec_item_list=recommend(user_id,train,user_user_sim,10)
    user_id=UCF_PREFIX+user_id
    reclst[user_id]=sorted(rec_item_list.items(),key=lambda x:x[1],reverse=True)[0:20]

In [61]:
len(reclst)

21258

In [62]:
del user_user_sim

In [63]:
def item_sim(train_data):
    # 相似物品矩阵
    C = dict()  # {item:{item1:sim_score,item2:sim_score}}
    N = dict()  # {item:用户数}
    # 扫一遍数据集，统计相似物品矩阵的分子部分C，和统计item拥有的user dict N
    for u, items in train_data.items():
        for i in items:
            # item拥有多个用户
            if N.get(i, -1) == -1:
                # N[i] = 0
                N[i] = set()
            # N[i] += 1
            N[i].add(u)
            if C.get(i, -1) == -1:
                C[i] = dict()
            for j in items:
                if i == j:
                    continue
                elif C[i].get(j, -1) == -1:
                    C[i][j] = 0
                C[i][j] += 1

    # 扫一遍相似物品矩阵C，将分母除进去
    for i, sim_items in C.items():
        for j, cij in sim_items.items():
            # C[i][j]= 2*cij/(N[i]+N[j]*1.0)
            C[i][j] = cij / len(N[i] | N[j])
    return C

In [64]:
item_item_sim=item_sim(train)

In [65]:
len(item_item_sim)

4636

In [66]:
item_item_sim_file = '%s/sim_data/ii.sim' % music_mid_data_path

In [67]:
with open(item_item_sim_file, 'w') as ifw:
    ifw.write(str(item_item_sim))

In [71]:
print(train['0000066b1be6f28ad5e40d47b8d3e51c'])
def recommendation(train_data, user_id, C, k):
    # 存放最终结果
    rank = dict()
    sum_ = dict()
    Ru = train_data[user_id]
    for i, rating in Ru.items():
        # rating = rating_old*func(time)
        for j, sim_score in sorted(C[i].items(), key=lambda x: x[1], reverse=True)[:k]:
            # 过滤这个user已经打过分的item
            if j in Ru:
                continue
            elif rank.get(j, -1) == -1:
                rank[j] = 0

            # Ru中item1相似的集合和item2相似的集合中有相同的item，是分值相加形式
            rank[j] += sim_score * rating
            # sum|cij| 对应ppt sum(|wij|),只有在相同的itemj，不同的itemi进行ppt中多值相加
            if sum_.get(j,-1)==-1:
                sum_[j] = 0
            sum_[j] += sim_score
    for j in rank.keys():
        rank[j] /= sum_[j]
    return rank

{'426100349': 1.28}

In [72]:
for user_id in train.keys():
    rec_item = recommendation(train,user_id,C=item_item_sim,k=10)
    user_id = ICF_PREFIX + user_id
    reclst[user_id] = sorted(rec_item.items(),
                             key=lambda x: x[1],
                             reverse=True)[0:20]

In [73]:
reclst[ICF_PREFIX+'0000066b1be6f28ad5e40d47b8d3e51c']

[('913000347', 1.28),
 ('425900349', 1.28),
 ('428800349', 1.28),
 ('902500334', 1.28),
 ('718800244', 1.28),
 ('798800211', 1.28),
 ('768309470', 1.28),
 ('63800226', 1.28),
 ('231700321', 1.28),
 ('1494409116', 1.28)]

In [74]:
del item_item_sim

In [75]:
with open(cf_rec_lst_outfile,'w',encoding='utf-8') as wcf:
    wcf.write(str(reclst))

In [76]:
data

                             user_id     item_id     score
0   00213d17d2eba917e859d882aa89ee8e  1352509103  0.100000
1   0029b6161dbb1b8721f5f6ad1d7594b6  1148909108  1.959016
2   0076a2dda04e1ee05ab2fb792297bf2b  1148909108  0.614754
3   0088a6fc0d8c03ec5b2513a984ce9a1e  1148909108  1.024590
4   00a43691f12565b801241743556417ab   839709106  0.054152
5   00e16789fa95549730b666911908f540    63509105  0.262097
6   00ed7cd778e08c7551731988e73e419e   463509109  1.299578
7   01359a19943d444cc75164d5133c3a65  1529509105  2.502262
8   014ad23bd34b4131e822c9cfba02ecce  1973309108  0.065217
9   0161e575a9992d5393ee578b45f3b1a7   963209107  1.216216
10  017d61f43565734e85ca6c652e6dd06f   463509109  1.303797
11  01903b3114c70a109aea3934297ea6ef  1148909108  0.614754
12  01c1ef0570a4d56b900a23b255dfc658   463509109  0.822785
13  01d4ad980a492f39f2272dbc36ec9698    63509105  0.100806
14  01eb724c80739c41018dc5db9db28ead  1678509106  0.283019
15  01ed205aebdc4b32bd156075668d541a   963209107  1.213213

In [78]:
len(data2)

17

In [79]:
train['00213d17d2eba917e859d882aa89ee8e']

{'1352509103': 0.1}

In [80]:
len(train)

21258

In [81]:
del data
del data2

In [82]:
data=train

In [83]:
data['label'] = data['score'].apply(lambda x: 1 if x >= 0.9 else 0)

KeyError: 'score'

In [84]:
del data

In [85]:
data = user_item_score(50000)

NameError: name 'user_item_score' is not defined

In [86]:
df_user_watch = user_watch(50000)

In [89]:
df_music_meta = music_data2()

In [88]:
# del df_music_meta

In [90]:
data = df_user_watch.merge(df_music_meta, how='inner', on='item_id')

In [91]:
data['score'] = data.apply(lambda x: float(x['stay_seconds']) / float(x['total_timelen']), axis=1)
    # 选要使用的列，和udata数据类型一致
data = data[['user_id', 'item_id', 'score']]

In [95]:
data.head()

                            user_id    item_id     score  label
0  0000066b1be6f28ad5e40d47b8d3e51c  426100349  1.280000      1
1  00000cce929ed4de96d2cb6bbf956c53  251400320  1.025785      1
2  00000f7383b4ddb4885c7ef81b483e27  711800352  0.517241      0
3  00001fc17f67602470571d231a76176e  780800217  0.503356      0
4  00002169235f84675d0df3f2c8dfd78c  517009772  1.700000      1

In [93]:
data = data.groupby(['user_id', 'item_id']).score.mean().reset_index()

In [94]:
data['label'] = data['score'].apply(lambda x: 1 if x >= 0.9 else 0)

In [97]:
ana = data.groupby('label')['score'].count()

In [98]:
ana.head()

label
0    12518
1    17560
Name: score, dtype: int64

In [99]:
ana2 = data.groupby('label')['score'].sum()

In [100]:
ana2.head()

label
0     4412.354622
1    22466.031567
Name: score, dtype: float64

In [101]:
len(data)

30078

In [102]:
user_profile = user_profile()

In [103]:
user_profile.head()

                            user_id gender     age        salary province
0  00ea9a2fe9c6810aab440c4d8c050000      女   26-35  20000-100000       江苏
1  01a0ae50fd4b9ef6ed04c22a7e421000      女   36-45        0-2000       河北
2  002db7d2360562dd16828c4b91402000      女  46-100    5000-10000       云南
3  006a184749e3b3eb83e9eb516d522000      男   36-45     2000-5000       天津
4  00de61c1d635ad964eef2aefa8292000      女   19-25     2000-5000      内蒙古

In [104]:
music_meta=df_music_meta

In [105]:
data = data.merge(user_profile,
                  how='inner',
                  on='user_id').merge(music_meta,
                                      how='inner',
                                      on='item_id')

In [106]:
data.head()

,user_id,item_id,score,label,gender,age,salary,province,item_name,total_timelen,location,tags
0,0000066b1be6f28ad5e40d47b8d3e51c,426100349,1.280,1,女,26-35,10000-20000,香港,刘德华 - 回家的路 2015央视春晚 现场版,250,港台,-
1,000072fc29132acaf20168c589269e1c,426100349,1.276,1,女,36-45,5000-10000,湖北,刘德华 - 回家的路 2015央视春晚 现场版,250,港台,-
2,000074ec4874ab7d99d543d0ce419118,426100349,1.084,1,男,36-45,2000-5000,宁夏,刘德华 - 回家的路 2015央视春晚 现场版,250,港台,-
3,00117dfbdb3c9f1c0fc5d5522e038282,426100349,0.176,0,女,19-25,2000-5000,澳门,刘德华 - 回家的路 2015央视春晚 现场版,250,港台,-
4,0015bdf90133398e361e9ae4cd9d1340,426100349,0.060,0,男,36-45,10000-20000,台湾,刘德华 - 回家的路 2015央视春晚 现场版,250,港台,-

In [107]:
user_feat = ['gender', 'age', 'salary', 'province']
item_feat = ['total_timelen', 'location']
item_text_feat = ['item_name', 'tags']

In [108]:
category_feat = user_feat + ['location']
continuous_feat = ['score']

In [109]:
labels = data['label']

In [110]:
labels

0        1
1        1
2        1
3        0
4        0
        ..
30073    0
30074    1
30075    0
30076    0
30077    1
Name: label, Length: 30078, dtype: int64

In [111]:
del data['label']

In [112]:
df = pd.get_dummies(data[category_feat])  # 特征_特征值

In [113]:
df.head()

,gender_女,gender_男,age_0-18,age_19-25,age_26-35,age_36-45,age_46-100,salary_0-2000,salary_10000-20000,salary_2000-5000,...,location_国内,location_日韩,"location_日韩,日本","location_日韩,韩国",location_欧美,location_港台,"location_非洲,日本","location_韩国,国内","location_韩国,欧美","location_韩国,港台"
0,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [114]:
data[category_feat].head()

  gender    age       salary province location
0      女  26-35  10000-20000       香港       港台
1      女  36-45   5000-10000       湖北       港台
2      男  36-45    2000-5000       宁夏       港台
3      女  19-25    2000-5000       澳门       港台
4      男  36-45  10000-20000       台湾       港台

In [115]:
one_hot_columns = df.columns

In [117]:
one_hot_columns

Index(['gender_女', 'gender_男', 'age_0-18', 'age_19-25', 'age_26-35',
       'age_36-45', 'age_46-100', 'salary_0-2000', 'salary_10000-20000',
       'salary_2000-5000', 'salary_20000-100000', 'salary_5000-10000',
       'province_上海', 'province_云南', 'province_内蒙古', 'province_北京',
       'province_台湾', 'province_吉林', 'province_四川', 'province_天津',
       'province_宁夏', 'province_安徽', 'province_山东', 'province_山西',
       'province_广东', 'province_广西', 'province_新疆', 'province_江苏',
       'province_江西', 'province_河北', 'province_河南', 'province_浙江',
       'province_海南', 'province_湖北', 'province_湖南', 'province_澳门',
       'province_甘肃', 'province_福建', 'province_西藏', 'province_贵州',
       'province_辽宁', 'province_重庆', 'province_陕西', 'province_青海',
       'province_香港', 'province_黑龙江', 'location_-', 'location_亚洲',
       'location_亚洲,韩国', 'location_国内', 'location_日韩', 'location_日韩,日本',
       'location_日韩,韩国', 'location_欧美', 'location_港台', 'location_非洲,日本',
       'location_韩国,国内', 'location_韩国,欧美', 'location_韩国,港台'],
      dtype='object')

In [118]:
# 2.连续特征不处理直接带入[一般做离散GBDT（xgboost）叶子结点做离散化编码 GBDT+LR]
df[continuous_feat] = data[continuous_feat].astype(float)  # 转换数据类型，cast( as float)

In [119]:
df.columns

Index(['gender_女', 'gender_男', 'age_0-18', 'age_19-25', 'age_26-35',
       'age_36-45', 'age_46-100', 'salary_0-2000', 'salary_10000-20000',
       'salary_2000-5000', 'salary_20000-100000', 'salary_5000-10000',
       'province_上海', 'province_云南', 'province_内蒙古', 'province_北京',
       'province_台湾', 'province_吉林', 'province_四川', 'province_天津',
       'province_宁夏', 'province_安徽', 'province_山东', 'province_山西',
       'province_广东', 'province_广西', 'province_新疆', 'province_江苏',
       'province_江西', 'province_河北', 'province_河南', 'province_浙江',
       'province_海南', 'province_湖北', 'province_湖南', 'province_澳门',
       'province_甘肃', 'province_福建', 'province_西藏', 'province_贵州',
       'province_辽宁', 'province_重庆', 'province_陕西', 'province_青海',
       'province_香港', 'province_黑龙江', 'location_-', 'location_亚洲',
       'location_亚洲,韩国', 'location_国内', 'location_日韩', 'location_日韩,日本',
       'location_日韩,韩国', 'location_欧美', 'location_港台', 'location_非洲,日本',
       'location_韩国,国内', 'location_韩国,欧美', 'location_韩国,港台', 'score'],
      dtype='object')

In [120]:
# 交叉特征线要对user_id和item_id 做一个组合key
data['ui-key'] = data['user_id'].astype(str) + "_" + data['item_id'].astype(str)

In [121]:
cross_feat_map = dict()

In [122]:
for _, row in data[['ui-key', 'score']].iterrows():
    print(row)
    break

ui-key    0000066b1be6f28ad5e40d47b8d3e51c_426100349
score                                           1.28
Name: 0, dtype: object

In [123]:
for _, row in data[['ui-key', 'score']].iterrows():
    cross_feat_map[row['ui-key']] = row['score']

In [124]:
len(cross_feat_map )

30078

In [125]:
len(df)

30078

In [126]:
data.columns

Index(['user_id', 'item_id', 'score', 'gender', 'age', 'salary', 'province',
       'item_name', 'total_timelen', 'location', 'tags', 'ui-key'],
      dtype='object')

In [127]:
cross_file = '%s/cross_feat.dict' % music_mid_data_path

In [128]:
with open(cross_file, 'w') as f:
    f.write(str(cross_feat_map))

In [129]:
print(df.values[:10])

[[1.    0.    0.    0.    1.    0.    0.    0.    1.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    1.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.28 ]
 [1.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.    1.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    1.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.276]
 [0.    1.    0.    0.    0.    1.    0.    0.    0.    1.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    1.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.084]
 [1.    0.    0.    1.    0.    0.    0.    0.    0.    1.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    1.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.176]
 [0.    1.    0.    0.    0.    1.    0.    0.    1.    0.    0.    0.
  0.    0.    0.    0.    1.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.06 ]
 [1.    0.    1.    0.    0.    0.    0.    0.    0.    1.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    1.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.3  ]
 [0.    1.    0.    1.    0.    0.    0.    1.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    1.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.204]
 [1.    0.    0.    1.    0.    0.    0.    0.    1.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  1.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.284]
 [0.    1.    0.    0.    0.    1.    0.    0.    0.    0.    1.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    1.296]
 [1.    0.    0.    0.    0.    0.    1.    0.    0.    1.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.06 ]]

In [130]:
df.head()

,gender_女,gender_男,age_0-18,age_19-25,age_26-35,age_36-45,age_46-100,salary_0-2000,salary_10000-20000,salary_2000-5000,...,location_日韩,"location_日韩,日本","location_日韩,韩国",location_欧美,location_港台,"location_非洲,日本","location_韩国,国内","location_韩国,欧美","location_韩国,港台",score
0,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1.280
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1.276
2,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1.084
3,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0.176
4,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0.060

In [132]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [133]:
X_train, X_test, y_train, y_test = train_test_split(df.values, labels, test_size=0.3, random_state=2019)

In [140]:
X_test.col

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.04876682],
       [1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.04278075],
       [1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.18611111],
       ...,
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        1.1884058 ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        1.875     ],
       [0.        , 1.        , 1.        , ..., 0.        , 0.        ,
        1.32110092]])

In [138]:
lr = LogisticRegression(penalty='l2', dual=False, tol=1e-4, C=1.0,
                        fit_intercept=True, intercept_scaling=1, class_weight=None,
                        random_state=None, solver='liblinear', max_iter=100,
                        multi_class='ovr', verbose=1, warm_start=False, n_jobs=-1)

model = lr.fit(X_train, y_train)

[LibLinear]

d:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1544: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 4.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

In [139]:
print('w:%s, b:%s' % (lr.coef_, lr.intercept_))

w:[[-5.25580184e+00 -5.27933322e+00 -2.14300622e+00 -2.17089510e+00
  -2.00378023e+00 -2.11170559e+00 -2.10574791e+00 -2.16648472e+00
  -2.07305057e+00 -1.99577303e+00 -2.15662459e+00 -2.14320215e+00
   3.69359175e-03 -1.35623857e-01 -4.27018595e-01 -3.33200367e-01
  -4.50494632e-01 -2.85270350e-01 -1.70427459e-01 -2.50548370e-01
  -4.93560054e-01 -1.68534841e-01 -2.45978852e-01 -8.18696791e-02
  -3.42674079e-01 -4.35492745e-01 -4.09052467e-01 -6.01994486e-02
   1.15461185e-01 -4.52481674e-01 -2.28048305e-01 -3.89001677e-01
  -4.79099688e-01 -3.31473987e-01 -3.51528020e-01 -4.65516679e-01
  -3.43777848e-01 -5.37290896e-01 -2.17547100e-01 -1.91752069e-01
  -7.16065690e-02 -4.36554775e-01 -3.71337484e-01 -4.04290164e-01
  -3.81391007e-01 -7.11646094e-01 -1.30807660e+00 -1.80644526e-01
   4.92717943e-04 -1.44101095e+00 -2.06841736e+00 -1.21105202e+00
  -1.22681701e+00 -1.55580897e+00 -1.55016068e+00  0.00000000e+00
  -1.53246728e-04 -1.43288556e-03  7.94646140e-03  2.44634273e+01]], b:[-10.53513505]

In [141]:
print('score: %.4f' % lr.score(X_test, y_test))

score: 0.9937

In [8]:
music_mid_data_path = "data/music_mid_data"
user_feat_map_file = '%s/feat/one_hot.dict' % music_mid_data_path
import os
os.mkdir('data/music_mid_data/feat')

In [10]:
feat_map = {}
for i in range(len(one_hot_columns)):
    key = one_hot_columns[i]
    feat_map[key] = i
print(feat_map)
# 特征映射表存储
with open(user_feat_map_file, 'w', encoding='utf-8') as ohf:
    ohf.write(str(feat_map))

NameError: name 'one_hot_columns' is not defined

In [11]:
model_dict = {'W': lr.coef_.tolist()[0], 'b': lr.intercept_.tolist()[0]}

NameError: name 'lr' is not defined

In [12]:
data_path = 'G:\\idea_workspace\\bigdata\\bigdata_demo_py\\demoDay21_recsys_music\\data\music_data'
music_mid_data_path = "data/music_mid_data"

In [13]:

def user_watch(nrows=None):
    user_watch_pref = os.path.join(data_path, 'user_watch_pref.sml')
    return pd.read_csv(user_watch_pref,
                       sep='\001',
                       nrows=nrows,
                       names=['user_id', 'item_id', 'stay_seconds', 'hour'])

In [14]:
def music_data(nrows=None):
    music_meta = os.path.join(data_path,'music_meta')
    df_music_meta = pd.read_csv(music_meta,
                                sep='\001',
                                nrows=nrows,
                                names=['item_id','item_name','desc','total_timelen','location','tags'],
                                # Pandas只有在整个文件读取完了才能确定字段的dtype（字段的数据类型dType）这会很耗时间
                                # 事先指定dtype，则会按照指定的dtype读取数据，从而解决警告：
                                # DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
                                dtype={'item_id':int,'item_name':str,'desc':str,'total_timelen':str,'tags':str})
    df_music_meta = df_music_meta.fillna('-')
    del df_music_meta['desc']
    return df_music_meta

In [15]:
import pandas as pd
import math

In [16]:
a = 0.6
user_id = '010af058c9e6aa1109de610cae30fdf8'
# 以前听什么歌：
user_watch = user_watch()
music_df = music_data()

In [17]:
df = user_watch.merge(music_df, how='inner', on='item_id')

In [18]:
del user_watch
del music_df

In [19]:
df['user_id']

0         00213d17d2eba917e859d882aa89ee8e
1         01d4ad980a492f39f2272dbc36ec9698
2         00e16789fa95549730b666911908f540
3         01359a19943d444cc75164d5133c3a65
4         01359a19943d444cc75164d5133c3a65
                        ...
254867    001d99140cf239fa55af2648694df121
254868    01a248e789dfc43983c7ad2e81619137
254869    00acd41ad6323b1cd50fcf39d1fc59e7
254870    01b2d4ac5e98740aa45001b88448f1d2
254871    019a03ed840d7356d19e233408ccec8c
Name: user_id, Length: 254872, dtype: object

In [20]:
df2 = df.loc[df['user_id'] == user_id, ['item_name']]

In [21]:
df2.head()

                   item_name
13248           汪峰 - 沧浪之歌 短板
166650  汪峰 - 沧浪之歌 电影《狼图腾》主题曲

In [22]:
len(df2)

2

In [23]:
print(pd.unique(df2['item_name']))

['汪峰 - 沧浪之歌 短板' '汪峰 - 沧浪之歌 电影《狼图腾》主题曲']