In [1]:
import pandas as pd
import numpy as np
input_dir='F:\\八斗学院\\视频\\14期正式课\\00-data//'

In [17]:
priors = pd.read_csv(filepath_or_buffer=input_dir + 'order_products__prior.csv', dtype={
    'order_id': np.str,
    'product_id': np.str,
    'add_to_cart_order': np.int,
    'reordered': np.int
})

train = pd.read_csv(filepath_or_buffer=input_dir + 'order_products__train.csv',
                    dtype={
                        'order_id': np.str,
                        'product_id': np.str,
                        'add_to_cart_order': np.int,
                        'reordered': np.int
                    })

In [18]:
priors.head()

  order_id product_id  add_to_cart_order  reordered
0        2      33120                  1          1
1        2      28985                  2          1
2        2       9327                  3          0
3        2      45918                  4          1
4        2      30035                  5          0

In [40]:
priors.dtypes

order_id             object
product_id           object
add_to_cart_order     int32
reordered             int32
dtype: object

In [20]:
orders = pd.read_csv(filepath_or_buffer=input_dir + 'orders.csv',
                     dtype={
                         'order_id': np.str,
                         'user_id': np.str,
                         'eval_set': 'object',
                         'order_number': np.int16,
                         'order_dow': np.int8,
                         'order_hour_of_day': np.int,
                         'days_since_prior_order': np.float32
                     })

In [22]:
products = pd.read_csv(input_dir + 'products.csv', dtype={
    'product_id': np.str,
    'order_id': np.str,
    'aisle_id': np.str,
    'department_id': np.str},
                       usecols=['product_id', 'aisle_id', 'department_id'])

In [23]:
priors.shape

(32434489, 4)

In [24]:
priors.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [25]:
print('prior {}:{}'.format(priors.shape,','.join(priors.columns)))

prior (32434489, 4):order_id,product_id,add_to_cart_order,reordered

In [28]:
prod_feat_df=pd.DataFrame()
prod_feat_df['orders']=priors.groupby(priors.product_id).size().astype(np.int)

In [29]:
prod_feat_df['reorders']=priors.groupby('product_id')['reordered'].sum()

In [30]:
prod_feat_df['reorders'].head()

product_id
1        1136
10       1304
100       245
1000     1065
10000       4
Name: reorders, dtype: int32

In [31]:
prod_feat_df.head()

            orders  reorders
product_id
1             1852      1136
10            2572      1304
100            437       245
1000          2610      1065
10000           11         4

In [32]:
 priors['reordered'].groupby(priors.product_id).sum()

product_id
1        1136
10       1304
100       245
1000     1065
10000       4
         ...
9995      111
9996      218
9997       30
9998        2
9999        0
Name: reordered, Length: 49677, dtype: int32

In [35]:
prod_feat_df['reorder_rate']=(prod_feat_df['reorders']/prod_feat_df['orders']).astype(np.float32)

In [36]:
prod_feat_df['reorder_rate'].head()

product_id
1        0.613391
10       0.506998
100      0.560641
1000     0.408046
10000    0.363636
Name: reorder_rate, dtype: float32

In [37]:
products=products.join(prod_feat_df,how='inner',on='product_id')
# 设置product_id为index列，drop表示是否删除product_id列 inplace表示是否在原数据上修改
products.set_index('product_id',drop=False,inplace=True)

In [38]:
products.head()

           product_id aisle_id department_id  orders  reorders  reorder_rate
product_id
1                   1       61            19    1852      1136      0.613391
2                   2      104            13      90        12      0.133333
3                   3       94             7     277       203      0.732852
4                   4       38             1     329       147      0.446809
5                   5        5            13      15         9      0.600000

In [47]:
ppriors=priors.join(orders,on='order_id',rsuffix='_')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [44]:
orders.dtypes

order_id                   object
user_id                    object
eval_set                   object
order_number                int16
order_dow                    int8
order_hour_of_day           int32
days_since_prior_order    float32
dtype: object

In [46]:
orders['order_id'].astype(str)

0          2539329
1          2398795
2           473747
3          2254736
4           431534
            ...
3421078    2266710
3421079    1854736
3421080     626363
3421081    2977660
3421082     272231
Name: order_id, Length: 3421083, dtype: object

In [48]:
priors.dtypes

order_id             object
product_id           object
add_to_cart_order     int32
reordered             int32
dtype: object

In [49]:
priors['order_id']=priors['order_id'].astype(np.str)
orders['order_id']=orders['order_id'].astype(np.str)

In [50]:
priors=priors.join(orders,on='order_id',rsuffix='_')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [51]:
priors['order_id']=priors['order_id'].astype(str)
orders['order_id']=orders['order_id'].astype(str)

In [52]:
priors=priors.join(orders,on='order_id',rsuffix='_')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [59]:
priors.join(orders,on='order_id',rsuffix='_')

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,order_id_,user_id_,eval_set_,order_number_,order_dow_,order_hour_of_day_,days_since_prior_order_
0,2,33120,1,1,202279,prior,3,5,9,8.0,473747.0,1,prior,3.0,3.0,12.0,21.0
1,2,28985,2,1,202279,prior,3,5,9,8.0,473747.0,1,prior,3.0,3.0,12.0,21.0
2,2,9327,3,0,202279,prior,3,5,9,8.0,473747.0,1,prior,3.0,3.0,12.0,21.0
3,2,45918,4,1,202279,prior,3,5,9,8.0,473747.0,1,prior,3.0,3.0,12.0,21.0
4,2,30035,5,0,202279,prior,3,5,9,8.0,473747.0,1,prior,3.0,3.0,12.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,prior,24,2,6,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32434485,3421083,11352,7,0,25247,prior,24,2,6,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32434486,3421083,4600,8,0,25247,prior,24,2,6,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32434487,3421083,24852,9,1,25247,prior,24,2,6,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32434488,3421083,5020,10,1,25247,prior,24,2,6,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
priors=pd.merge(priors,orders,how='inner',on='order_id')

In [56]:
priors['order_id']=priors['order_id'].astype(np.str)
orders['order_id']=orders['order_id'].astype(np.str)

In [58]:
priors.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0